<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @movie.title %></em></h2>

<ul id="details">
  <li>
    Rating:
    <%= @movie.rating %>
  </li>
  <li>
    Released on:
    <%= @movie.release_date.strftime("%B %d, %Y") %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @movie.description %>
</p>

<div class="row">
  <!-- Added link for director search -->
  <%= link_to 'Find Movies With Same Director',
              same_director_movie_path(@movie),
              class: 'btn btn-info col-3 mr-2' %>

  <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary col-2 mr-2' %>

  <!-- Changed to button_to so Capybara can trigger delete -->
  <%= button_to 'Delete', movie_path(@movie),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger col-2 mr-2' %>

  <%= link_to 'Back to movie list', movies_path, class: 'btn btn-primary col-3' %>
</div>
